{{template "head.html" . }}

  {{if .Results}}
    {{$firstResult := index .Results 0}}
    <h1 class="mb-5 text-center">{{$firstResult.Title}}  <button class="btn speak-button"><i class="bi bi-volume-up-fill"></i></button></h1>
   
    {{range $firstResult.Sections}}
      <h2 class="mt-4 mb-3">{{.Title}}</h2>
      {{range .Texts}}
        <p class="mb-3">{{.}}</p>
      {{end}}
    {{end}}
    
    <div class="mb-4 text-center">
      <small><a href="https://{{$.Language}}.wikipedia.org/?curid={{$firstResult.ID}}">W{{$firstResult.ID}}</a></small>
      <small><a href="https://www.wikidata.org/wiki/{{$firstResult.Entity}}">{{$firstResult.Entity}}</a></small>
    </div>

  {{else}}
    <div class="alert alert-warning">
      Article not found.
    </div>
  {{end}}

{{template "foot.html" . }}
