{{template "head.html" . }}

  {{if .Results}}
    <h1 class="mb-5 text-center">{{(index .Results 0).Title}}  <button class="btn speak-button"><i class="bi bi-volume-up-fill"></i></button></h1>
   
    {{$currentSection := ""}}
    {{range .Results}}
      {{if ne .Section $currentSection}}
        {{if ne .Section ""}}
    <h2 class="mt-4 mb-3">{{.Section}}</h2>
        {{end}}
        {{$currentSection = .Section}}
      {{end}}
    <p class="mb-3">{{.Text}}</p>
    {{end}}
    
    <div class="mb-4 text-center">
      <small><a href="https://{{$.Language}}.wikipedia.org/?curid={{(index .Results 0).Article}}">W{{(index .Results 0).Article}}</a></small>
      <small><a href="https://www.wikidata.org/wiki/{{(index .Results 0).Entity}}">{{(index .Results 0).Entity}}</a></small>
    </div>

   {{else}}
    <div class="alert alert-warning">
      Article not found.
    </div>
  {{end}}

{{template "foot.html" . }}
